{% extends 'base.html' %}
{% block style %}
    .header{
        width: 100%;
        height: calc(100vh - 60px);
        background:url("/static/images/header-img.jpg");
        background-size:cover;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        text-align:center;
    }
    .heading{
        color:#fff;
        text-transform: capitalize;
        font-size: 80px;
        line-height: 60px;
    }
    .heading .small{
        display:block;
        font-size: 40px;
    }
    .heading .no-fill{
        font-style: italic;
        color: transparent;
        -webkit-text-stroke: 2px #fff;
    }
    .items-image{
        text-align:center;
    }
    a{
        text-decoration: none;
    }
    .delete_cont {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content{
        background-color:#fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }
    .cancel, .delete{
        float: left;
        width: 40%;
    }
{% endblock %}
{% block header %}
    <header class="header mt-5 mb-5">
        <div class="content">
            <h1 class="heading">
                <span class="small">welcome in the world of</span>
                blog
                <span class="no-fill">writing</span>
            </h1>
        </div>
    </header>
{% endblock %}
{% block content %}
    {% set messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                    </div>
                {% endfor %}
      {% endif %}
    <h1 class="mt-5 text-center">Popular Blogs:</h1>
    <div class="row">
    {% for blog in blogs %}
        <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="shadow p-3 my-5 bg-body rounded" style="height: 500px;">
            <div class="mb-3 d-flex justify-content-between" >
                <div class="user-info">
                    <img class="rounded-circle mx-2" style="height: 50px; width: 50px;" alt="{{ blog.user.picture }}" src="/static/pfp/{{ blog.user.picture }}">
                    <small> {{ blog.user.username }}</small>
                </div>
                {% if current_user.is_authenticated and blog.user == current_user or current_user.role == "admin"%}
                <div class="dropdown">
                    <i class="fa-solid fa-ellipsis-vertical"  data-bs-toggle="dropdown" aria-expanded="false" style="cursor:pointer"></i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/edit/{{ blog.slug}}"><i class="fa-solid fa-pen-to-square"></i> Edit</a></li>
                        <li><a class="dropdown-item" onclick="document.querySelector('.delete_cont').style.display= 'flex'" style="cursor:pointer">
                            <i class="bi bi-trash3-fill"></i> Delete
                        </a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="items-image">
                <a class="text-black" href="/home/{{ blog.slug }}"><img  height="200px" width="100%" src="/static/images/{{ blog.image }}" alt="{{ blog.image }}"></a>
            </div>
            <div class="items-content">
                    <h2 class="text-center" style="font-size:1.7rem"><a class="text-black" href="/home/{{ blog.slug }}">{{ blog.title[:20]}}</a></h2>
                    <br> <small>Created at: {{ blog.date.strftime('%B %d, %Y %H:%M ')}}</small>
                    <br/><a class="text-black" href="/home/{{ blog.slug }}">{{ blog.content[:100] }}...</a>
                    <div class="my-3">
                        <button class="like-btn btn border" data-blog-slug="{{ blog.slug }}">
                            {% if current_user in blog.liked_by %}
                            <i class="fa-solid fa-thumbs-up likeIcon"></i>
                            {% else %}
                            <i class="fa-regular fa-thumbs-up likeIcon"></i>
                            {% endif %}
                            <span class="like-count">{{ blog.likes }}</span>
                     </button>
                    </div>
            </div>
        </div>
            <div class="delete_cont">
                <div class="modal-content border rounded">
                    <div class="delete_txt px-2 pb-4 pt-3">
                        <h3>Delete Blog?</h3>
                    </div>
                    <div class="px-2">
                        <p>This will delete blog</p>
                    </div>
                    <div>
                      <button class="cancel btn btn-light border m-2" onclick="document.querySelector('.delete_cont').style.display = 'none'">
                        Cancel
                      </button>
                      <button class="delete btn btn-danger border m-2"><a class="text-white" href='/delete/{{ blog.slug }}'>Delete</a></button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}